.App {
  text-align: center;
}
/* Jokes Component*/
.jokes .joke {
  border: 1px solid gray;
  margin: 10px 0px;
}

.joke .setup {
  padding: 5px 0px;
}

.joke .punchline {
  padding: 5px 0px;
}

/*Login Component*/
.login .app-title {
  font-size: 30px;
  margin: 50px 0px 20px 0px;
}

.login .login-title {
  font-size: 25px;
}

.login input {
  font-size: 23px;
  margin-top: 10px;
  padding: 5px;
}

.login button {
  font-size: 23px;
  padding: 5px;
  width: 120px;
  margin: 15px 0px;
}

/*Signup Component*/
.signup .app-title {
  font-size: 30px;
  margin: 50px 0px 20px 0px;
}

.signup .signup-title {
  font-size: 25px;
}

.signup input {
  font-size: 23px;
  margin-top: 10px;
  padding: 5px;
}

.signup button {
  font-size: 23px;
  padding: 5px;
  width: 120px;
  margin: 15px 0px;
}


